
/* footer {
  margin-top: auto;
} */

.footerButtonsParent {
    position: fixed;
    bottom: 2.5% !important;
    left: 2.5% !important;
}

.footerCopyrightParent {
  position: fixed;
  bottom: 2.5%;
  right: 2.5%;
}








